@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@media screen and (max-width: 996px) {
	.nav .nav-justified .col-md-6 {
		visibility: hidden;
		clear: both;
	}
	.nav-justified {
		text-align: left;
	}
	.navbar .nav li {
		padding: 5px;
	}
	.footer {
		height: 180px;
	}
}

@media screen and (max-width: 480px) {
	.btn {
		width: 80%;
	}
	.nav-justified {
		background: rgba(255,255,255,0.8);
	}
}