@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@media screen and (max-width: 768px) {
  .nav .nav-justified .col-md-6 {
    visibility: hidden;
    clear: both;
  }
  .nav-justified {
  	text-align: left;
  }
  .navbar .nav li {
  	padding: 5px;
  }
}
